@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PerfumeShop.ModelView.CartModel
@{
    ViewData["Title"] = "Danh Sách Sản Phẩm Trong Giỏ Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main-content">
    <div class="container h-50 mt-10">
        <div class="row h-50">
            <div class="col-lg-12">
                <div class="breadcrumb-item">
                    <h3 class="">Sản Phẩm Trong Giỏ Hàng</h3>
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index">Home <i class="pe-7s-angle-right"></i></a>
                        </li>
                        <li>Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @{
        if (Model.Items == null)
        {
            <div>
                <p class="fw-bold text-center">Giỏ hàng trống</p>
            </div>
        }
        else
        {
            <div class="cart-area section-space-y-axis-100">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <form action="javascript:void(0)">
                                <div class="table-content table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="product_remove">Remove</th>
                                                <th class="product-thumbnail">Images</th>
                                                <th class="product-name">Tên Sản Phẩm</th>
                                                <th class="product-price">Giá</th>
                                                <th class="quantity">Số Lượng</th>
                                                <th class="product-subtotal">Tổng Tiền</th>
                                            </tr>
                                        </thead>
                                        @foreach (var x in Model.Items)
                                        {
                                            <tbody>
                                            <td>
                                                <a asp-controller="Cart" asp-action="Remove" asp-route-id="@x.ProductId" asp-route-idcart="@Model.Id" class="btn btn-primary-hover">
                                                    <i class="pe-7s-close" title="Remove"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <img src="~/Images/ImgProduct/Chanel/@x.Image" class="img-thumbnail" width="200px" height="200px" />
                                            </td>
                                            <td>@x.Name</td>
                                            <td>@x.Price.ToString("C",CultureInfo.GetCultureInfo("vi-VN"))</td>
                                            <td class="quantity">
                                                <div>
                                                    <a class="btn btn-primary-hover fw-bold" asp-controller="Cart"asp-action="Reduce" 
                                                       asp-route-id="@x.ProductId" asp-route-idcart="@Model.Id">-</a>
                                                    <input disabled value="@x.Quantity" min="0" max="@x.Max" type="number" />
                                                    <a class="btn btn-primary-hover fw-bold" asp-controller="Cart"asp-action="Increase" 
                                                       asp-route-id="@x.ProductId" asp-route-idcart="@Model.Id">+</a>
                                                </div>
                                            </td>
                                            <td>@x.Total.ToString("C",CultureInfo.GetCultureInfo("vi-VN"))</td>
                                            </tbody>
                                        }
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 ml-auto">
                                        <div class="cart-page-total">
                                            <h2>Thanh Toán Hóa Đơn</h2>
                                            <ul>
                                                <li>Tổng Tiền: @Model.Total.ToString("C",CultureInfo.GetCultureInfo("vi-VN"))</li>
                                            </ul>
                                            <a onclick="notify()" class="btn btn-primary-hover mt-2" asp-controller="Cart" asp-action="CheckOut" asp-route-customerId="@Model.CustomerId">Thanh Toán</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</main>
<script type="text/javascript">
    var notify = () => {
        alert("Thanh toán thành công");
    }
</script>