@using System.Globalization
@model IEnumerable<PerfumeShop.Models.Products>
@{
    ViewData["Title"] = "Home Page";
    var user = ViewData["idCus"] as string;
}

<div class="main-content pt-5">
    <div class="swiper-container main-slider-2 swiper-arrow with-bg_white">
        <div class="swiper-wrapper">
            <div class="swiper-slide animation-style-01">
                <div class="slide-inner bg-height" data-bg-image="Images/Banner/banner-nuoc-hoa.jpg">
                    <div class="container">
                        <div class="slide-content">
                            <h2 class="title font-weight-bold mb-4">Perfume - Shop <br> Products</h2>
                            <p class="short-desc different-width mb-9">Best deal products 100% natural healthy scent for your life</p>
                            <div class="button-wrap">
                                <a class="btn btn-custom-size lg-size btn-primary btn-white-hover rounded-0" href="">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide animation-style-01">
                <div class="slide-inner bg-height" data-bg-image="Images/Banner/banner-nuoc-hoa-chanel.jpg">
                    <div class="container">
                        <div class="slide-content">
                            <h2 class="title font-weight-bold mb-4">Perfume - Shop <br> Products</h2>
                            <p class="short-desc different-width mb-9">Best deal products 100% natural healthy scent for your life</p>
                            <div class="button-wrap">
                                <a class="btn btn-custom-size lg-size btn-primary btn-white-hover rounded-0" href="">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide animation-style-01">
                <div class="slide-inner bg-height" data-bg-image="Images/Banner/dep.jpg">
                    <div class="container">
                        <div class="slide-content">
                            <h2 class="title font-weight-bold mb-4">Perfume - Shop <br> Products</h2>
                            <p class="short-desc different-width mb-9">Best deal products 100% natural healthy scent for your life</p>
                            <div class="button-wrap">
                                <a class="btn btn-custom-size lg-size btn-primary btn-white-hover rounded-0" href="">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination with-bg d-md-none"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <div class="section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="text-center">Hàng Mới Về</h3>
                    <div class="tab-content text-charcoal pt-8">
                        <div class="tab-pane fade show active" id="grid-view" role="tabpanel" aria-labelledby="grid-view-tab">
                            <div class="product-grid-view row">
                                @if (Model != null && Model.Count() > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <div class="col-lg-3 col-sm-6">
                                            <div class="product-item">
                                                <div class="product-img img-zoom-effect">
                                                    <a href="">
                                                        <img class="img-full" src="Images/ImgProduct/Chanel/@item.Img" />
                                                    </a>
                                                    <div class="product-add-action">
                                                        <ul>
                                                            @if (@user == null)
                                                            {
                                                                <li>
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-body">
                                                                                <div class="modal-dialog modal-dialog-centered text-danger ">
                                                                                    Bạn cần đăng nhập để thêm vào giỏ hàng
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                </li>
                                                            }
                                                            else
                                                            {
                                                                <li onclick="CheckAdd()">
                                                                    <a asp-controller="Cart" asp-action="AddtoCart" asp-route-id="@item.ProdcutId" asp-route-user="@user">
                                                                        <i class="pe-7s-cart"></i>
                                                                    </a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <a class="product-name">@item.Name</a>
                                                    <div class="price-box pb-1">
                                                        <span class="new-price">Giá: @item.Price.ToString("C",CultureInfo.GetCultureInfo("vi-VN"))</span>
                                                    </div>
                                                    <div class="rating-box">
                                                        <span>Số Lượng: @item.Amount</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function CheckAdd() { 
        alert('thêm vào giỏ hàng thành công');
    }
</script>